<clients>
    <client ip="127.0.0.1" port="2222" username="vagrant" password="vagrant">
        <alert type="memory" limit="50%" />
        <alert type="cpu" limit="20%" />
    </client>
    <client ip="127.0.0.1" port="2223" username="vagrant" password="vagrant">
        <alert type="memory" limit="50%" />
        <alert type="cpu" limit="20%" />
    </client>
    <client ip="127.0.0.1" port="2224" username="vagrant" password="vagrant">
        <alert type="memory" limit="50%" />
    </client>
    <client ip="127.0.0.1" port="2225" username="vagrant" password="vagrant" />
</clients>